@using Admin.Services;
@{
    var typeAccount = HttpContext.Current.Session["TypeId"] == null ? 0 : int.Parse(HttpContext.Current.Session["TypeId"].ToString());
    var currentController = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var currentAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">@HttpContext.Current.Session["UserName"]</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="@Url.Action("ChangePass","Login")">
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Logout","Login")" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            @if (WebsiteExtension.CheckPermission("customer_account_create"))
            {
                <button class="btn btn-block btn-info waves-effect waves-light m-b-5" data-toggle="modal" data-target="#add-customer-modal">
                    <i class="fa fa-plus m-r-5"></i> <span>Tạo tài khoản khách hàng</span>
                </button>
            }
            <ul>
                <li class="text-muted menu-title">Navigation</li>
                <li>
                    @using (Html.BeginForm("Account", "Account", FormMethod.Post, new { @id = "customer_search", @class = "app-search" }))
                    {
                        <input type="text" placeholder="Find customer"
                               class="form-control" name="searchfield" />
                            <a href="#" onclick="document.getElementById('customer_search').submit();"><i class="fa fa-search"></i></a>
                    }
                </li>
                <li>
                    <a href="/" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                </li>
                @if (WebsiteExtension.CheckPermission("category_see"))
                {
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect @((currentController.Equals("Category")) ? "subdrop" : "")"><i class="zmdi zmdi-format-list-bulleted"></i> <span> Category </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display:@((currentController.Equals("Category")) ? "block" : "none")">
                            @if (WebsiteExtension.CheckPermission("category_restaurant_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Restaurant", "Category")">Restaurant</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("category_restaurant_branch_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Branch", "Category")">Branch</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("category_menu_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Menu", "Category")">Menu</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("category_menu_category_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Menu_Category", "Category")">Menu Category</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("category_menu_unit_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Menu_Unit", "Category")">Menu Unit</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("category_customer_type_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Customer_Type", "Category")">Customer Type</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("category_restaurant_table_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Restaurant_Table", "Category")">Table</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("category_ingredient_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Ingredient", "Category")">Ingredient</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("category_order_channel_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Order_Channel", "Category")">Order Channel</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @if (WebsiteExtension.CheckPermission("customer_see"))
                {
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect @((currentController.Equals("Customer")) ? "subdrop" : "")"><i class="zmdi zmdi-face"></i> <span> Customer </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display:@((currentController.Equals("Customer")) ? "block" : "none")">
                            @if (WebsiteExtension.CheckPermission("customer_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Customer", "Customer")">Customer</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @if (WebsiteExtension.CheckPermission("supplier_see"))
                {
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect @((currentController.Equals("Supplier")) ? "subdrop" : "")"><i class="zmdi zmdi-truck"></i> <span> Supplier </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display:@((currentController.Equals("Supplier")) ? "block" : "none")">
                            @if (WebsiteExtension.CheckPermission("supplier_list"))
                            {
                                <li>
                                    <a href="@Url.Action("Supplier", "Supplier")">Supplier</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @if (WebsiteExtension.CheckPermission("admin_see"))
                {
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect @((currentController.Equals("Admin")) ? "subdrop" : "")"><i class="zmdi zmdi-pin-account"></i> <span> Admin </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display:@((currentController.Equals("Admin")) ? "block" : "none")">
                            @if (WebsiteExtension.CheckPermission("admin_user_list"))
                            {
                                <li class="@((currentAction.Equals("Account")) ? "active" : "")">
                                    <a href="@Url.Action("Account","Admin")">Danh sách tài khoản</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("admin_group_list"))
                            {
                                <li class="@((currentAction.Equals("Group")) ? "active" : "")">
                                    <a href="@Url.Action("Group","Admin")">Danh sách nhóm</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("admin_permission_list"))
                            {
                                <li class="@((currentAction.Equals("Permission")) ? "active" : "")">
                                    <a href="@Url.Action("Permission","Admin")">Danh sách quyền</a>
                                </li>
                            }
                            @if (WebsiteExtension.CheckPermission("admin_group_permission_list"))
                            {
                                <li class="@((currentAction.Equals("GroupPermission")) ? "active" : "")">
                                    <a href="@Url.Action("GroupPermission","Admin")">Phân quyền</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->